.order-button{
    margin: 10px;
    display: flex;
    height: 50px; 
    width: 7rem;
    background-color: #7f2606;
    border-radius: 25px;
}

.order-button button{
    flex-grow: 1;
    background-color: transparent; 
    outline: none; 
    border: none;
    color: white; 
    font-size: 18px;
    font-weight: 700;
}