.input-control {
  display: flex;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-control input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
}

.group-input label {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (min-width: 100px) {
  .input-control {
    display: flex;
    margin: 12px;
    padding: 3px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .group-input label {
    font-size: 16px;
    font-weight: 600;
  }
}
