
header {
  display: flex;
  margin-bottom: 15px;
}

header img {
  width: 90px;
}

.container {
  width: 400px;
}

header h1 {
  color: #37d1f0;
  margin: 0;
  padding: 0;
}

header p {
  color: #0aa0be;
  margin: 0;

}

menu {
  padding: 0;
  margin: 0;
}

.button-style {
  background-color: #192025;
  height: 50px;
  border: none;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  font-weight: 600;
  margin: 1px;
}

.tab-content {
  background-color: #2e3e49;
  border-radius: 0 0 5px 5px;
}

ul {
  margin: 0;
}

li {
  padding: 10px;
  color: white;
}

.active {
  background-color: #0aa0be;
  height: 50px;
  border: none;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  font-weight: 600;
}

.button-style:hover {
  background-color: #0aa0be;
}